{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" role="main">
                <h3>Редактикрование категории <span class="label label-default">{{ category.name }}</span></h3>
                <hr>

                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    </br>
                    <input class="btn btn-default btn-xs" type="submit" value="Сохранить" />
                {{ form_end(edit_form) }}

                <hr>
                <ul>
                    <li><a href="{{ path('category_index') }}">Вернуться к списку категорий</a></li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input class="btn btn-default btn-xs" type="submit" value="Удалить категорию">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
