{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4" role="main">
                <table class="table">
                    <caption>Список категорий</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Категория</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                                <td>{{ category.name }}</td>
                                <td>
                                    <ul>
                                        <li><a href="{{ path('category_show', { 'id': category.id }) }}">Показать</a></li>
                                        <li><a href="{{ path('category_edit', { 'id': category.id }) }}">Редактировать</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <ul>
                    <li>
                        <a href="{{ path('category_new') }}">Создать новую категорию</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
