{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" role="main">
                <h3>Создание новой категории</h3>
                <hr>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    </br>
                    <input class="btn btn-default btn-xs" type="submit" value="Создать" />
                {{ form_end(form) }}

                <hr>
                <ul>
                    <li><a href="{{ path('category_index') }}">Вернуться к списку категорий</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
