{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4" role="main">
                <h3>Категория <span class="label label-default">{{ category.name }}</span></h3>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ category.id }}</span>
                        <strong>ID</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ category.name }}</span>
                        <strong>Имя категории</strong>
                    </li>
                </ul>

                <hr>
                <ul>
                    <li><a href="{{ path('category_index') }}">Вернуться к списку категорий</a></li>
                    <li><a href="{{ path('category_edit', { 'id': category.id }) }}">Редактировать</a></li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input class="btn btn-default btn-xs" type="submit" value="Удалить">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
