<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Учет расходов</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if app.request.get('_route') starts with 'cost_' %}class="active"{% endif %}><a href="{{ path('cost_index') }}">Расходы</a></li>
                <li class="dropdown {% if app.request.get('_route') starts with 'report_' %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('report_consolidated') }}">Сводный отчет по расходам</a></li>
                        <li><a href="{{ path('report_detailed') }}">Детализированный отчет за месяц</a></li>
                    </ul>
                </li>
                <li {% if app.request.get('_route') starts with 'category_' %}class="active"{% endif %}><a href="{{ path('category_index') }}">Категории</a></li>
                <li {% if app.request.get('_route') starts with 'setting_' %}class="active"{% endif %}><a href="{{ path('setting_index') }}">Настройки</a></li>
            </ul>
        </div>
    </div>
</div>