body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 10px 0;
}