{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'cost/warning.html.twig' %}

            <div class="col-md-6" role="main">
                <table class="table">
                    <caption>Список расходов</caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Сумма</th>
                            <th>Категория</th>
                            <th>Дата</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cost in costs %}
                            <tr>
                                <td><a href="{{ path('cost_show', { 'id': cost.id }) }}">{{ cost.id }}</a></td>
                                <td>{{ cost.sum|number_format(2) ~ ' ' ~ currency }}</td>
                                <td><a href="{{ path('category_show', { 'id': cost.category.id }) }}">{{ cost.category.name }}</a></td>
                                <td>{% if cost.date %}{{ cost.date|date('Y-m-d') }}{% endif %}</td>
                                <td>
                                    <ul>
                                        <li><a href="{{ path('cost_show', { 'id': cost.id }) }}">Показать</a></li>
                                        <li><a href="{{ path('cost_edit', { 'id': cost.id }) }}">Редактировать</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <ul>
                    <li><a href="{{ path('cost_new') }}">Создать новый расход</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
