{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4" role="main">
                <h3>Расход #{{ cost.id }}</span></h3>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ cost.id }}</span>
                        <strong>ID</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ cost.sum|number_format(2) ~ ' ' ~ currency }}</span>
                        <strong>Сумма</strong>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{% if cost.date %}{{ cost.date|date('Y-m-d') }}{% endif %}</span>
                        <strong>Дата</strong>
                    </li>
                </ul>

                <hr>
                <ul>
                    <li><a href="{{ path('cost_index') }}">Вернуться к списку расходов</a></li>
                    <li><a href="{{ path('cost_edit', { 'id': cost.id }) }}">Редактировать</a></li>
                    <li>
                        {{ form_start(delete_form) }}
                            <input class="btn btn-default btn-xs" type="submit" value="Удалить">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
