{% if checkTotalCostsIsFail %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Внимание!</strong> Сумма расходов для текущего месяца превышена. Скорректировать сумму месячных расходов можно изменить на странице <a href="{{ path('setting_index') }}">настроек</a>.
    </div>
{% endif %}