{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" role="main">
                <h3>Редактирование настройки</h3>
                <hr>

                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <hr>
                    <input class="btn btn-default btn-xs" type="submit" value="Редактировать" />
                {{ form_end(edit_form) }}

                <hr>
                <ul>
                    <li><a href="{{ path('setting_index') }}">Вернуться к списку настроек</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
