{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" role="main">
                <h3>Настройки</h3>
                <hr>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Описание</th>
                            <th>Значение</th>
                            <th>Настройка активна</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for setting in settings %}
                            <tr>
                                <td>
                                    {{ setting.desc|raw }}

                                    {% if setting.key == 'maximum_amount_of_expenses.value' %}
                                        <hr>
                                        <div class="alert alert-info">
                                            {% set settingArr = setting.getSetting(true) %}
                                            В следующем месяце сумма расходов будет составлять <strong>{{ settingArr.monthlyValues[settingArr.currentIndexValue + 1] ~ ' ' ~ currency }}</strong>.
                                            Сумма расходов для следующего месяца, зависит от расходов в текущем месяце.
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ setting.setting(true).currentValue }}</td>
                                <td>{% if setting.active %}Да{% else %}Нет{% endif %}</td>
                                <td>
                                    <ul>
                                        <li><a href="{{ path('setting_edit', { 'id': setting.id }) }}">Изменить</a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
