{% extends 'base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>Сводный отчет по расходам</h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Месяц</th>
                    <th>Общая сумма расходов</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <th scope="row">{{ (row|first).origin_date|localizeddate('full', 'none', app.request.locale, null, "LLLL") }}</th>
                        <td>{{ row.sum|number_format(2) ~ ' ' ~ currency }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}