{% extends 'base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>Детализированный отчет за текущий месяц</h1>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>День</th>
                    {% for category in categories %}
                        <th>{{ category.getName() }}</th>
                    {% endfor %}
                    <th>Итого</th>
                </tr>
            </thead>
            <tbody>
                {% for row in matrix %}
                    <tr>
                        <th scope="row">{{ row|first|localizeddate('full', 'none', app.request.locale, null, "d MMMM") }}</th>
                        {% for attr in row[1:]  %}
                            <td>{{ attr|number_format(2) ~ ' ' ~ currency }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <tr>
                    <th scope="row">Сумма по каждой категории</th>
                    {% for attr in lastRowMatrix %}
                        <td>{{ attr|first|number_format(2) ~ ' ' ~ currency }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
